        body {
            font-family: sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #000000;
            line-height: 21px
        }
        body * {
            outline: 1px solid red;
        }
        h2 {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 21px;
            color: #000000;
            line-height: 26px;
        }
        h3 {
            font-family: sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;
            line-height: 21px;
        }
        ul {
            font-size: 0px;
        }
        ul li {
            display: inline-block;
            font-size: 14px;
            width: 240px;
            text-align: center;
        }
        .about-sedona {
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }
        .reasonfirst {
            float: left;
            height: 200px;
            width: 200px;
            text-align: center;
        }
        .reasonpictureone {
            float: right;
            width: 800px;
        }
        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
        .features {
            font-size: 0px;
        }
        .features-item {
            display: inline-block;
            font-size: 14px;
            width: 350px;
            text-align: center;
            vertical-align: top;
        }
        .reasonpicturetwo {
            float: left;
            width: 800px;
        }
        .reasonsecond {
            float: right;
            height: 200px;
            width: 200px;
            text-align: center;
        }
        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
        .iterested {
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }
        .map {
            width: 100%;
            height: 400px;
            position: relative;
            margin-top: 60px;
        }
        .search-hotels {
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }
